


.contact-container-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #231F20;
  padding: 10rem;
  /* overflow: hidden; */
}

/* Background image (starts invisible) */
.contact-container-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/026/062/small_2x/two-hands-reaching-out-one-contiguous-line-in-a-black-background-illustration-vector.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: fadeIn 4s ease-in forwards;
  animation-delay: 0.6s; 
}

/* Text styling */
.contact-container-header h1 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.391);
  padding: 1rem 2rem;
  border-radius: 8px;
  animation: slideUp 1s ease forwards;
}

/* Keyframes */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
    border-radius: 100%;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
  50% {
    opacity: 0.5;
    clip-path: polygon(25% 0, 75% 0, 75% 100%, 25% 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* fully expanded */
  }
}





/* -------------------------------------------------------------------- */

.contact-bottom{
    display: flex;
    flex-direction: row;

    max-height: 100vh;
}





.contact-form-container{
    background-color: hsla(198, 23%, 23%, 0.577);

    display: flex;
    justify-content: center;
    flex: 1;
    

    padding: 20vh;

}

.type-container{


  display: flex;
  align-items: center;
  justify-content: center;
}
.type-container h1{
  font-size: 70px;
  color: rgb(221, 157, 53);
}




.contact-form-container label{
    font-size: 2rem;
    font-weight: 600;
}

.contact-box{
    display: flex;
    flex-direction: column;

    width: 400px;
}


/* ________________________________ */







/* _________________________________ */


.contact-box input{
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contact-box textarea{

    
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;

    height: 200px;
    resize: none;
    border: none;
    border-bottom: 2px solid #ccc;
}

.contact-box textarea:focus{
    outline: none;
    border-bottom: 2px solid rgb(160, 160, 160);
}

.contact-form button{
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 4px;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact-form button:hover{
    background-color: rgb(100, 100, 100);
    transition: all 0.3s ease;
}