





/* inside */
.main-container {
    padding: 2rem;
    min-height: 100vh;
}
.home-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
    padding: 2rem 0;
}

.home-container .description-header {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #e8bcbc;
    letter-spacing: 1px;
}
/* ---------------------------------------------------- */

.hidden{
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 2s ease, transform 1.2s ease;
}

.show{
    opacity: 1;
    transform: translateX(0%);
}

.hidden:nth-child(2){
    transform: translateX(50%);
}

.show:nth-child(2){
    transform: translateX(0%);
}



/* ---------------------------------------------------- */


.home-container section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.home-container .merch-card {
    
    width: 450px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
    background: #bebcbc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);

    
    animation: fadeIn linear ;

/* for more specific controls or offsetting where the animation would start */
    /* animation-timeline: view(1000px 2px);  */


    animation-timeline: view();
    animation-range: entry;
}



@keyframes fadeIn {
    from { scale: .7 ; opacity: 0.5; }
    to { scale: 1; opacity: 1; }
}



.merch-card {
    width: 100%;
    border-radius: 4px;
}

.merch-card h2 {
    font-size: 1.9rem;
    font-weight: bolder;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #222;
}

.merch-card p {
    margin-bottom: 1rem;
    color: #444;
}

.merch-card button {
    padding: 0.5rem 1rem;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
}

.merch-card button:hover {
    background: #444;
}




